**/.git
**/.cache
*Dockerfile*
**/.env

# Python
**/__pycache__
*.pyc
*.pyo
*.pyd
*,cover
*.log
.git*


# Node
**/.results
**/node_modules
**/out
**/.next

./static

# Ignore development create_llama code
./create_llama/
./storage/
./static/
./data/
./src/manager/

# Deployment files
./Dockerfile
./docker-compose.yml
./deployments/**/data
./deployments/**/ollama

# Do not ignore template config files
!config/*
