# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS="your_app_keys_here"
API_TOKEN_SALT="your_api_token_salt_here"
ADMIN_JWT_SECRET="your_admin_jwt_secret_here"
TRANSFER_TOKEN_SALT="your_transfer_token_salt_here"

# Local Database
DATABASE_CLIENT=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=25432
DATABASE_NAME=strapi
DATABASE_USERNAME=your_username
DATABASE_PASSWORD=your_password
DATABASE_SSL=false
DATABASE_FILENAME=
JWT_SECRET="your_jwt_secret_here"

# Digital Ocean Database (uncomment to use)
# DATABASE_CLIENT=postgres
# DATABASE_HOST=your_host_here
# DATABASE_PORT=25060
# DATABASE_NAME=your_database_name
# DATABASE_USERNAME=your_username
# DATABASE_PASSWORD=your_password
# DATABASE_SSL=true
# DATABASE_SSL_REJECT_UNAUTHORIZED=false
# DATABASE_FILENAME=
# JWT_SECRET="your_jwt_secret_here"